.movie-list {
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
}

.movie-list_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}