.movie-card_container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 10px 1px rgba(30, 50, 50, 0.5)
}

.movie-card_container:hover > .movie-card_data {
  opacity: 1;
}

.movie-card_container:hover {
  transform: scale(1.04);
}

.movie-card_data {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  top: 0%;
  left: 0%;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(237, 237, 237);
  opacity: 0;
  padding: 0.75rem;
  transition: all 0.2s ease;
}

.movie-card_data > div > p:nth-child(1) {
  font-family: "Roboto Bold";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.movie-card_data > div > p:nth-child(2) {
  display: -webkit-box;
  line-clamp: 10;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.movie-card_thumbnail {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.movie-card_actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.movie-card_actions > button {
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: rgba(30, 50, 50, 0.4);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.movie-card_actions > button:hover {
  transition: all 0.2s ease;
  background-color: rgba(30, 50, 50, 1);
}