@import url(./src/css/header.css);

@import url(./src/ui/Navigation/Navigation.css);

.video-player_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.video-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  height: max-content;
  position: relative;
  box-shadow: 8px 8px 5px 5px rgba(30, 50, 50, 0.4);
}

.video-player > video {
  display: flex;
  height: 100%;
  width: 100%;
}

.video-player_controlls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(95, 158, 160, 0.4);
}

.video-player_controlls-state {
  display: flex;
}

.video-player_controlls-state > button {
  display: flex;
  align-items: center;
  justify-items: center;
  width: fit-content;
  padding: 0.5rem;
}

.video-player_controlls-state > button > svg {
  color: white;
}

.video-player_controlls-state > button:hover {
  background-color: rgba(95, 158, 160, 0.8);
}

.video-player_controlls-time {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  color: white;
}

.video-player_time-container {
  width: 100%;
  height: 0.9rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.video-player_time-front {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  width: 0px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.video-player_time-back {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(95, 158, 160, 0.4);
}

.video-player_time-label > input {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}