@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/roboto/roboto-regular.woff2);
}

@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/roboto/roboto-black.woff2);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/roboto/roboto-bold.woff2);
}
