.header-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(95, 158, 160, 0.3);
  border-bottom: 1px solid rgba(30, 50, 50, 0.4);
}

.header-website_title {
  display: flex;
  align-items: center;
  color: rgb(30, 50, 50);
}

.header-website_title > h1 {
  font-size: 3.2rem;
  font-family: "Roboto Black";
  text-shadow: 2px 2px 0px white;
}

.header-website_title > svg {
  transform: rotate(180deg);
  filter: drop-shadow(2px -2px 0px white);
}

.header-nav_container {
  flex-grow: 1;
  justify-items: center;
}