*, 
*::after, 
*::before {
  font-family: "Roboto Regular";
  margin: 0;
  padding: 0;
}

svg {
  pointer-events: none;
}

body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

li, ol {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}