@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;  
  padding: 0;
  margin: 0;
  list-style: none;
}

/* posts-list */

.posts-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

/* posts-list-item */

.posts-list-item {
  padding: 0.5rem;
  background-color: rgba(100, 148, 237, 0.5);
  border-radius: 5px;
  border: 2px solid rgba(100, 148, 237, 0.5);
  display: flex;
  flex-direction: column;
}

.posts-list-item-title {
  transition: all 0.2s ease;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(100, 148, 237, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts-list-item-expander {
  outline: none;
  border: none;
  color: #ffffff;
  padding: 0.3rem 1rem;
  background-color: rgba(100, 148, 237, 1);
  border-radius: 5px;
  cursor: pointer;
}

.posts-list-item-expander:hover {
  background-color: rgb(77, 132, 236);
}

.posts-list-item-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.posts-list-item-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.5rem;
}

.posts-list-item-expanded > .posts-list-item-title {
  white-space: wrap;
  overflow: visible;
  text-overflow: none;
}

.posts-list-item-expanded .posts-list-item-content-container > .posts-list-item-content {
  display: block;
  -webkit-line-clamp: none;
  -webkit-box-orient: vertical;  
  overflow: visible
}

/* posts-list-item-skeleton */

.posts-list-item-skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posts-list-item-skeleton > p:nth-child(1) {
  padding: 0.4rem 1rem;
  background-color: white;
}

.posts-list-item-skeleton > p:nth-child(2) {
  padding: 2rem 1rem;
  background-color: white;
}

.posts-list-item-skeleton > button {
 padding: 0.2rem 1rem;
 border: none;
 background-color: white; 
}